@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #ED9224;
  --background-cardapio: #FDF7E5;
  --terracota: #AF3E3E;
  --cinza-1: #DCDCDC;
  --cinza-2: #919191;
  --cinza-3: #57564F;
  --cinza-4: #1B1B1B;
  --verde-adicionado: #4FAD00;
}

* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

ul, li {
  list-style: none;

}

.layout {
  width: 100%;
  height: 100vh;
  display: flex;
}

.sidebar {
  max-width: 20%;
  width: 350px;
  min-width: 200px;
  height: 100vh;
  /* background: green; */
}

aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 200px;
  height: 90px;
  object-fit: contain;
}

.menu-categorias {
  display: flex;
  flex-direction: column;
}

.layout-header-main {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  background: var(--background-cardapio);
}

header {
  width: 100%;
  /* background: pink; */
}

nav {
  padding: 16px;
}

main {
  flex: 1;
  height: 100%;
  /* background: red; */
  padding: 16px;
  overflow: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.secao-produtos {
  display: flex;
  justify-content: center;
  gap: 25px;
  max-width: 100%;
  width: 100%;
  flex-wrap: wrap;
}

/*carddddd*/
.container-card {
  display: flex;
  flex-direction: column;
  background: white;
  max-width: 300px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
}

.container-img img {
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-body {
  padding: 16px;
}

.card-texto span {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: bold;
}

.card-texto p {
  font-size: 16px;
  color: var(--cinza-3)
}

.card-preco {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.bg-cinza {
  display: flex;
  align-items: center;
  background: var(--cinza-1);
  padding: 6px;
  border-radius: 0 8px;
}

.bg-branco {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  min-width: 90px;
  border-radius: 6px;
}

.container-carrinho {
  display: flex;
  border-radius: 4px 0;
  padding: 8px 24px;
  background: #ED9224;
}

.centralizar-btn {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

/*reutilizaveis*/
.btn-categoria {
  padding: 8px;
  border-radius: 4px;
  gap: 10px;
  width: 100%;
}

.border-8 {
  border-radius: 8px;
}

.texto-btn-categoria {
  color: var(--cinza-2);
  font-size: 16px;
  font-weight: bold;
}

/*colocar padding no buton das categorias*/
