@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #ED9224;
  --background-cardapio: #FDF7E5;
  --terracota: #AF3E3E;
  --cinza-1: #DCDCDC;
  --cinza-2: #919191;
  --cinza-3: #57564F;
  --cinza-4: #1B1B1B;
  --verde-adicionado: #4FAD00;
}

* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

ul, li {
  list-style: none;

}

.layout {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
}

.sidebar {
  min-width: 300px;
  box-shadow: 1px 0px 10px 0.4px var(--cinza-1);
  height: 100vh;
  z-index: 10;
  background: white;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 200px;
  height: 90px;
  object-fit: contain;
}

.items-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-categorias {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.layout-header-main {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  height: 100vh;
}

.restricoes {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.restricoes li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

.filtro {
  width: 18px;
  height: 18px;
}

.restricoes li label {
  font-size: 14px;
  color: var(--cinza-3);
}

/*-----*/

/*---header---*/
header {
  width: 100%;
  background: white;
  z-index: 9;
  box-shadow: 5px 1px 10px 0.4px var(--cinza-1);
}

nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.titulo-header {
  font-size: 32px;
  font-weight: bold;
  color: var(--primary-color);
}

 .nav-header ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.carrinho-header button{
  position: relative;
  padding: 14px;
  /* background: white; */
  border-radius: 50%;
  /* box-shadow: 1px 1px 10px 0.4px var(--cinza-1); */
}

.carrinho-header button img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.num-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: var(--terracota);
  border-radius: 50%;
  position: absolute;
  font-size: 12px;
  color: white;
  top: 0;
  right: 0;
}

.sem-items {
  display: none;
}

.perfil-header button {
  display: flex;
  align-items: center;
  gap: 16px;
}

.perfil-header button img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
}

.user-name {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.nome {
  font-size: 16px;
  color: var(--cinza-3);
}



/*modal carrinho*/
.modal-carrinho {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 500px;
  height: 100vh;
  background: var(--background-cardapio);
  top: 0;
  z-index: 11;
  transition: 0.2s ease-in-out;
}

.mostrar-modal-carrinho {
  right: 0;
}

.fechar-modal-carrinho {
  right: -500px;
}

.container-modal-carrinho {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.header-carrinho {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding-bottom: 16px;
}

.header-carrinho div {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
}

.body-carrinho {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  overflow-y: auto;
  scrollbar-width: thin;
}

.footer-carrinho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  /* border: 2px solid var(--primary-color); */
  flex-shrink: 0;
  border-radius: 16px;
  padding: 16px;
  margin-top: 16px;
  box-sizing: border-box;
}

.total {
  border: 2px solid var(--primary-color);
  border-radius: 16px;
  /* background: var(--primary-color); */
  padding: 8px 24px;
}

.span-total {
  color: var(--cinza-3);
  font-weight: bold;
  font-size: 14px;
}

#preco-total {
  color: black;
  font-weight: bold;
  font-size: 24px;
}

.finalizar-pedido {
  background: var(--primary-color);
  padding: 20px 26px;
  color: white;
  font-size: 20px;
  border-radius: 16px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  border: 2px solid transparent;
}

.finalizar-pedido:hover {
  background: none;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.card-carrinho {
  display: flex;
  border: 2px solid red;
  border-radius: 16px;
  overflow: hidden;
  min-height: 100px;
  flex-shrink: 0;
}

#img-card-carrinho {
  width: 120px;
  height: 100px;
  object-fit: cover;
}

.info-card-carrinho {
  display: flex;
  flex-direction: column;
  padding: 8px;
  /* gap: 8px; */
  width: 50%;
}

.titulo {
  color: var(--primary-color);
  font-weight: bold;
}

.descricao {
  font-size: 14px;
  color: var(--cinza-3);
}

.preco {
  margin-top: 8px;
  color: black;
  font-weight: bold
}

.quantidade {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
}

.escurecer-fundo {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
}


/*----------*/

main {
  flex: 1;
  height: 100%;
  padding: 16px;
  overflow: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  background: var(--background-cardapio);

}

.secao-produtos {
  display: flex;
  justify-content: center;
  gap: 25px;
  max-width: 100%;
  width: 100%;
  flex-wrap: wrap;
}

/*carddddd*/
.container-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  max-width: 300px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
}

.container-img img {
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.card-texto span {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: bold;
}

.card-texto p {
  font-size: 16px;
  color: var(--cinza-3)
}

.card-preco {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.bg-cinza {
  display: flex;
  align-items: center;
  background: var(--cinza-1);
  padding: 6px;
  border-radius: 0 8px;
}

.bg-branco {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  min-width: 90px;
  border-radius: 6px;
}

.container-carrinho {
  display: flex;
  border-radius: 4px 0;
  padding: 8px 24px;
  background: #ED9224;
}

/*reutilizaveis*/
.centralizar-btn {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.btn-categoria {
  padding: 8px;
  border-radius: 4px;
  gap: 10px;
  width: 100%;
}

.border-8 {
  border-radius: 8px;
}

.texto-btn-categoria {
  color: var(--cinza-2);
  font-size: 16px;
  font-weight: bold;
}

.linha {
  width: 100%;
  height: 1px;
  background: var(--cinza-2);
  margin-bottom: 8px;
  /* margin-top: 16px; */
}

.span-cinza {
  color: var(--cinza-2);
}

/*colocar padding no buton das categorias*/
